@font-face {
  font-family: amadeusFont;
  src: url("AMADEUS_.TTF"); }

body {
  font-family: 'Open Sans', sans-serif; }

a:focus, a:hover, a:visited {
  text-decoration: none !important;
  outline: 0 !important;
  color: white; }

.hero {
  color: white;
  margin-top: -10px; }
  .hero .jumbotron {
    background-image: url("../images/home_img_1.JPG");
    background-size: cover;
    width: 100%;
    min-height: 1000px; }
    @media (max-width: 767.98px) {
      .hero .jumbotron {
        min-height: 900px;
        background-position: 70% 50%; } }
  .hero .opinions-wrapper {
    padding-top: 80px; }
    .hero .opinions-wrapper p {
      font-size: 18px;
      line-height: 1.6rem; }

#bq_1 {
  padding-left: 50px; }

#bq_2 {
  padding-left: 100px; }

#bq_3 {
  padding-left: 140px; }

#bq_4 {
  padding-left: 200px; }

#bq_5 {
  padding-left: 275px; }

@media (max-width: 767.98px) {
  #bq_1, #bq_2, #bq_3, #bq_4, #bq_5 {
    text-align: center;
    padding-left: 0;
    margin-top: 0; } }

.section-title {
  font-size: 48px; }

.navbar-default {
  background-color: #151515;
  font-size: 20px;
  line-height: 1.2;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none; }
  @media (max-width: 767.98px) {
    .navbar-default h1 {
      display: none; } }
  .navbar-default .navbar_left, .navbar-default .navbar_right {
    display: inline-flex;
    flex-direction: row; }
    @media (max-width: 767.98px) {
      .navbar-default .navbar_left, .navbar-default .navbar_right {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center; } }
  .navbar-default .nav-item {
    padding: 10px; }

.dropdown-toggle:after {
  display: none; }

.dropdown:hover .dropdown-menu {
  background-color: #151515;
  display: block; }
  .dropdown:hover .dropdown-menu .dropdown-item {
    color: #cccccc;
    background-color: #151515; }
    .dropdown:hover .dropdown-menu .dropdown-item:hover {
      color: white; }

.about-me-section {
  margin-top: 40px; }
  .about-me-section .carousel {
    width: 1000px;
    height: 900px;
    margin: 0 auto; }
    @media (max-width: 767.98px) {
      .about-me-section .carousel {
        width: 576px; } }
  .about-me-section .biography-section {
    margin: 0.85em 0; }
    .about-me-section .biography-section p {
      display: block;
      font-family: Helvetica, Arial, sans-serif;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px; }

.carousel-control-prev-icon {
  background-image: url("https://icons-for-free.com/iconfiles/png/512/keyboard+arrow+left+48px-131985225817132836.png");
  width: 100%;
  height: 140px; }
  @media (max-width: 767.98px) {
    .carousel-control-prev-icon {
      display: none; } }

.carousel-control-next-icon {
  background-image: url("https://icons-for-free.com/iconfiles/png/512/keyboard+arrow+right+48px-131985225841288821.png");
  width: 100%;
  height: 140px; }
  @media (max-width: 767.98px) {
    .carousel-control-next-icon {
      display: none; } }

.carousel-control-prev {
  margin-left: -140px; }

.carousel-control-next {
  margin-right: -140px; }

#about_me_2 {
  font-size: 20px; }

#about_me_3 {
  font-size: 17px; }

.next-section {
  background-image: url("https://wallpaperplay.com/walls/full/2/f/e/200789.jpg");
  width: 100%;
  min-height: 600px;
  opacity: 0.95;
  background-attachment: fixed;
  background-position: 50% -51.7904px; }

.recordings-section {
  padding-top: 100px;
  padding-bottom: 160px;
  background: #151515; }
  .recordings-section h2 {
    color: #dcdcdc; }
  .recordings-section .album-wrapper {
    width: 300px;
    height: 300px;
    -webkit-box-shadow: -2px 7px 12px 8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 7px 12px 8px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 7px 12px 8px rgba(0, 0, 0, 0.75); }
    @media (max-width: 767.98px) {
      .recordings-section .album-wrapper {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px; } }
    .recordings-section .album-wrapper img {
      border: 4px solid white;
      width: 300px;
      height: 300px; }

.parallax {
  position: relative;
  background-repeat: no-repeat;
  background-position: 10% 50%;
  background-size: cover;
  z-index: 59;
  opacity: 0; }

.gallery-section .gallery-image-wrapper img {
  margin: 0;
  width: 220px;
  height: 150px; }

@media (max-width: 767.98px) {
  .gallery-section .gallery-image-wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px; } }

.media-section {
  background: #151515; }
  .media-section h2 {
    color: #dcdcdc; }
