.ptb-100 {
  padding-top: 100px;
  padding-right: 0px;
  padding-bottom: 100px;
  padding-left: 0px; }
  @media (max-width: 767.98px) {
    .ptb-100 {
      padding-top: 40px;
      padding-right: 0px;
      padding-bottom: 70px;
      padding-left: 0px; } }

body {
  font-family: 'Open Sans', sans-serif; }

a:focus, a:hover, a:visited {
  text-decoration: none !important;
  outline: 0 !important;
  color: white; }

.fa-youtube {
  transition: all 0.5s;
  color: white; }
  .fa-youtube:hover {
    color: #c21616; }

.fa-amazon {
  transition: all 0.5s;
  color: white; }
  .fa-amazon:hover {
    color: #ff9900; }

.fa-spotify {
  transition: all 0.5s;
  color: white; }
  .fa-spotify:hover {
    color: green; }

.hero {
  min-height: 800px;
  color: white;
  margin-top: -10px; }
  .hero .jumbotron {
    background-image: url("../images/home_img_1.JPG");
    background-size: cover;
    width: 100%;
    min-height: 1000px; }
    @media (max-width: 767.98px) {
      .hero .jumbotron {
        min-height: 900px;
        background-position: 70% 50%; } }
    @media (max-width: 991.98px) {
      .hero .jumbotron {
        min-height: 900px;
        background-position: 80% 50%; } }
  .hero .opinions-wrapper {
    padding-top: 80px; }
    .hero .opinions-wrapper p {
      font-size: 18px;
      line-height: 1.6rem; }

#bq_1 {
  padding-left: 50px; }

#bq_2 {
  padding-left: 100px; }

#bq_3 {
  padding-left: 140px; }

#bq_4 {
  padding-left: 200px; }

#bq_5 {
  padding-left: 275px; }

@media (max-width: 767.98px) {
  #bq_1, #bq_2, #bq_3, #bq_4, #bq_5 {
    text-align: center;
    padding-left: 0;
    margin-top: 0; } }

.section-title {
  font-size: 48px;
  /* hr { 
    width: 100%;
    background-color: lighten($color: #948a99, $amount: 80);
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style:solid;
    border-width: .1px;
  } */ }

.navbar-default {
  background: rgba(52, 58, 64, 0.5);
  font-size: 22px;
  line-height: 1.2;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  -webkit-box-shadow: 2px 9px 10px -3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 9px 10px -3px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 9px 10px -3px rgba(0, 0, 0, 0.4); }
  @media (max-width: 991.98px) {
    .navbar-default .navbar-brand {
      display: none; } }
  @media (max-width: 767.98px) {
    .navbar-default .navbar-nav {
      margin-bottom: -10px; } }
  .navbar-default .yt-nav {
    display: inline-flex;
    margin-right: auto;
    justify-content: flex-start;
    margin-left: -100px; }
    @media (max-width: 767.98px) {
      .navbar-default .yt-nav {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-left: auto;
        margin-right: auto; } }
  .navbar-default .dropdown {
    padding-bottom: 20px; }
    .navbar-default .dropdown:hover .dropdown-menu {
      background-color: #151515;
      display: block; }
      .navbar-default .dropdown:hover .dropdown-menu .dropdown-item {
        color: #cccccc;
        background-color: #151515; }
        .navbar-default .dropdown:hover .dropdown-menu .dropdown-item:hover {
          color: white; }
  @media (max-width: 991.98px) {
    .navbar-default {
      margin-left: auto;
      margin-right: auto;
      background: #151515; }
      .navbar-default .dropdown-menu {
        display: block;
        text-align: center;
        background: transparent !important;
        padding-top: 12px;
        margin-top: -10px;
        border: none; }
        .navbar-default .dropdown-menu .dropdown-item {
          line-height: 10px;
          font-weight: lighter;
          font-style: italic;
          border: none;
          background: transparent !important;
          color: rgba(255, 255, 255, 0.5); }
          .navbar-default .dropdown-menu .dropdown-item:hover {
            border: none;
            color: rgba(255, 255, 255, 0.75);
            background: transparent; } }
  .navbar-default .navbar_left, .navbar-default .navbar_right {
    display: inline-flex;
    flex-direction: row; }
    .navbar-default .navbar_left .nav-item, .navbar-default .navbar_right .nav-item {
      padding: 10px; }
      @media (max-width: 767.98px) {
        .navbar-default .navbar_left .nav-item, .navbar-default .navbar_right .nav-item {
          padding-top: 9px;
          padding-bottom: 9px; } }
    @media (max-width: 767.98px) {
      .navbar-default .navbar_left, .navbar-default .navbar_right {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: -40px; } }

.dropdown-toggle:after {
  display: none; }

.about-me-section .carousel {
  width: 100%;
  height: 600px; }
  .about-me-section .carousel .carousel-control-next {
    bottom: 100%;
    margin-top: -110px;
    right: -5%; }
    @media (min-width: 992px) {
      .about-me-section .carousel .carousel-control-next {
        right: -15%;
        bottom: 40%; } }
    .about-me-section .carousel .carousel-control-next .carousel-control-next-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23131313' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); }
      @media (min-width: 992px) {
        .about-me-section .carousel .carousel-control-next .carousel-control-next-icon {
          width: 50px;
          height: 50px; } }
  .about-me-section .carousel .carousel-control-prev {
    bottom: 100%;
    margin-top: -110px;
    left: -5%; }
    @media (min-width: 992px) {
      .about-me-section .carousel .carousel-control-prev {
        left: -15%;
        bottom: 40%; } }
    .about-me-section .carousel .carousel-control-prev .carousel-control-prev-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23131313' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e"); }
      @media (min-width: 992px) {
        .about-me-section .carousel .carousel-control-prev .carousel-control-prev-icon {
          width: 50px;
          height: 50px; } }
  @media (min-width: 992px) {
    .about-me-section .carousel {
      height: 800px; } }
  @media (max-width: 767.98px) {
    .about-me-section .carousel .carousel-item {
      overflow: auto;
      height: 500px; } }
  .about-me-section .carousel .carousel-item p {
    display: block;
    text-align: center;
    font-size: 16px; }

.biography-section p {
  display: block;
  font-family: Helvetica, Arial, sans-serif; }

#about_me_2 {
  font-size: 20px; }

#about_me_3 {
  font-size: 17px; }

.next-section {
  background-image: url("https://wallpaperplay.com/walls/full/2/f/e/200789.jpg");
  width: 100%;
  min-height: 600px;
  opacity: 0.95;
  background-attachment: fixed;
  background-position: 50% -51.7904px; }
  @media (max-width: 767.98px) {
    .next-section {
      width: 100%;
      min-height: 300px;
      opacity: 0.95;
      background-attachment: fixed;
      background-position: 50% -51.7904px; } }

.recordings-section {
  padding-top: 100px;
  padding-bottom: 160px;
  background: #151515; }
  .recordings-section h2 {
    color: #dcdcdc;
    padding-bottom: 100px; }
  .recordings-section .recordings-wrapper {
    display: flex;
    justify-content: center; }
    .recordings-section .recordings-wrapper .album-wrapper {
      width: 350px;
      height: 350px;
      -webkit-box-shadow: -2px 7px 12px 8px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: -2px 7px 12px 8px rgba(0, 0, 0, 0.75);
      box-shadow: -2px 7px 12px 8px rgba(0, 0, 0, 0.75);
      transition: all 0.5s; }
      @media (max-width: 767.98px) {
        .recordings-section .recordings-wrapper .album-wrapper {
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 20px; } }
      .recordings-section .recordings-wrapper .album-wrapper img {
        border: 5px solid white;
        width: 350px;
        height: 350px; }
      .recordings-section .recordings-wrapper .album-wrapper:hover {
        padding-bottom: 15px; }
      .recordings-section .recordings-wrapper .album-wrapper .album-hover-wrapper {
        position: absolute;
        display: block;
        opacity: 0;
        width: 350px;
        height: 350px;
        bottom: 0%;
        background: #151515;
        color: white;
        transition: all 0.5s ease; }
        .recordings-section .recordings-wrapper .album-wrapper .album-hover-wrapper:hover {
          opacity: 0.9; }
        .recordings-section .recordings-wrapper .album-wrapper .album-hover-wrapper a {
          cursor: pointer; }
        .recordings-section .recordings-wrapper .album-wrapper .album-hover-wrapper .label-wrapper {
          position: absolute;
          display: block;
          background: white;
          color: black;
          width: 350px;
          height: 40px;
          font-size: 16px; }
          .recordings-section .recordings-wrapper .album-wrapper .album-hover-wrapper .label-wrapper h5 {
            padding: 8px;
            font-weight: bold; }
        .recordings-section .recordings-wrapper .album-wrapper .album-hover-wrapper .btn-wrapper-top {
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding-top: 70px;
          cursor: pointer; }
          .recordings-section .recordings-wrapper .album-wrapper .album-hover-wrapper .btn-wrapper-top .fa-apple {
            transition: all 0.5s;
            color: white;
            padding-top: 1px; }
            .recordings-section .recordings-wrapper .album-wrapper .album-hover-wrapper .btn-wrapper-top .fa-apple:hover {
              color: #a3aaae; }
          .recordings-section .recordings-wrapper .album-wrapper .album-hover-wrapper .btn-wrapper-top i {
            padding: 10px; }
          .recordings-section .recordings-wrapper .album-wrapper .album-hover-wrapper .btn-wrapper-top .shop-label {
            font-size: 20px;
            color: aliceblue;
            font-weight: bold;
            transition: all 0.5s; }
            .recordings-section .recordings-wrapper .album-wrapper .album-hover-wrapper .btn-wrapper-top .shop-label:hover {
              color: #8ac8ff; }
        .recordings-section .recordings-wrapper .album-wrapper .album-hover-wrapper .btn-wrapper-bottom {
          padding-top: 100px; }

.parallax {
  position: relative;
  background-repeat: no-repeat;
  background-position: 10% 50%;
  background-size: cover;
  z-index: 59;
  opacity: 0; }

.gallery-section button {
  background: #343a40;
  color: #dcdcdc; }

.gallery-section .gallery-wrapper {
  display: flex;
  flex-wrap: wrap; }
  .gallery-section .gallery-wrapper .gallery-image-wrapper {
    position: relative;
    margin: 20px 20px;
    width: 250px;
    height: 180px;
    -webkit-box-shadow: 0 8px 12px -6px black;
    -moz-box-shadow: 0 8px 12px -6px black;
    box-shadow: 0 8px 12px -6px black;
    transition: all 0.5s; }
    .gallery-section .gallery-wrapper .gallery-image-wrapper:hover {
      padding-top: 10px; }
    .gallery-section .gallery-wrapper .gallery-image-wrapper img {
      width: 250px;
      height: 180px; }
    .gallery-section .gallery-wrapper .gallery-image-wrapper .label-image-hover {
      position: absolute;
      cursor: pointer;
      width: 250px;
      height: 180px;
      opacity: 0;
      background: black;
      color: white;
      transition: all 0.5s ease; }
      .gallery-section .gallery-wrapper .gallery-image-wrapper .label-image-hover:hover {
        opacity: 0.7; }
      .gallery-section .gallery-wrapper .gallery-image-wrapper .label-image-hover i {
        padding: 50px; }
      .gallery-section .gallery-wrapper .gallery-image-wrapper .label-image-hover a {
        cursor: pointer; }
    @media (max-width: 991.98px) {
      .gallery-section .gallery-wrapper .gallery-image-wrapper {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px; } }

.media-section {
  background: url("../images/gallery/gallery_5.JPG"); }
  .media-section .text-title-wrapper {
    padding-bottom: 20px; }
    .media-section .text-title-wrapper h2 {
      font-size: 58px;
      color: #dcdcdc; }
    .media-section .text-title-wrapper h5 {
      padding-top: 20px;
      font-size: 32px;
      color: #151515;
      transition: .2s ease-in-out;
      height: 35px; }
      .media-section .text-title-wrapper h5:hover {
        color: #626262; }
      @media (max-width: 767.98px) {
        .media-section .text-title-wrapper h5 {
          color: white;
          font-size: 24px;
          padding-top: 0px;
          padding-bottom: 30px; }
          .media-section .text-title-wrapper h5:hover {
            color: white; } }
      @media (max-width: 991.98px) {
        .media-section .text-title-wrapper h5 {
          color: #959595; }
          .media-section .text-title-wrapper h5:hover {
            color: white; } }

.news-section p {
  color: #909090; }

.news-section button {
  background: #343a40;
  color: #dcdcdc; }

.downloads-section {
  background: #151515;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center; }
  .downloads-section h2 {
    color: white; }
    @media (max-width: 991.98px) {
      .downloads-section h2 {
        padding-left: 22px; } }
  .downloads-section p {
    color: white; }
  .downloads-section .category-wrapper {
    display: inline-flex; }
    .downloads-section .category-wrapper h4 {
      text-align: center; }
    .downloads-section .category-wrapper .category-btn {
      margin-left: 25px;
      width: 200px;
      height: auto; }
      .downloads-section .category-wrapper .category-btn i {
        padding-left: 4px; }
    @media (max-width: 991.98px) {
      .downloads-section .category-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center; }
        .downloads-section .category-wrapper .category-btn {
          margin-bottom: 6px; }
        .downloads-section .category-wrapper h4 {
          padding-left: 20px; } }
  .downloads-section .file-wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 500px;
    height: 100px;
    background: #dcdcdc; }
    @media (max-width: 991.98px) {
      .downloads-section .file-wrapper {
        justify-content: center;
        flex-direction: column;
        text-align: left;
        width: 350px;
        padding-top: 15px; }
        .downloads-section .file-wrapper .file-info .file-name {
          text-align: left; }
        .downloads-section .file-wrapper .file-info .file-desc {
          padding-bottom: 8px;
          font-size: 12px; }
          .downloads-section .file-wrapper .file-info .file-desc .file-size {
            display: inline-block;
            padding-right: 5px; }
          .downloads-section .file-wrapper .file-info .file-desc .file-date {
            display: inline-block; }
        .downloads-section .file-wrapper .file-icon {
          margin-left: -25px;
          padding-bottom: 20px;
          padding-top: 0; } }
    .downloads-section .file-wrapper .file-icon {
      padding-top: 10px;
      padding-right: 100px; }
      @media (max-width: 991.98px) {
        .downloads-section .file-wrapper .file-icon {
          padding-right: -20px;
          margin-top: -12px; } }
    .downloads-section .file-wrapper .file-info {
      padding-top: 5px;
      margin-left: -90px; }
      @media (max-width: 991.98px) {
        .downloads-section .file-wrapper .file-info {
          margin-left: -140px; } }
      .downloads-section .file-wrapper .file-info .file-name {
        color: #151515;
        font-size: 18px;
        white-space: nowrap;
        font-weight: bold;
        padding-left: 100px; }
        @media (max-width: 991.98px) {
          .downloads-section .file-wrapper .file-info .file-name {
            padding-left: 40px;
            padding-bottom: 16px;
            margin-top: -16px; } }
      .downloads-section .file-wrapper .file-info .file-desc {
        padding-bottom: 8px;
        font-size: 12px;
        padding-left: 90px; }
        @media (max-width: 991.98px) {
          .downloads-section .file-wrapper .file-info .file-desc {
            padding-bottom: 20px;
            margin-top: -18px;
            margin-left: -50px; } }
        .downloads-section .file-wrapper .file-info .file-desc .file-size {
          display: inline-block;
          padding-right: 5px; }
        .downloads-section .file-wrapper .file-info .file-desc .file-date {
          display: inline-block; }
      .downloads-section .file-wrapper .file-info .download-button {
        padding-top: 35px; }
        @media (max-width: 991.98px) {
          .downloads-section .file-wrapper .file-info .download-button {
            margin-left: -60px;
            margin-top: -18px; } }
    .downloads-section .file-wrapper .download-btn {
      width: 150px;
      height: 40px;
      margin-left: 100px;
      margin-top: -60px; }
      .downloads-section .file-wrapper .download-btn i {
        padding-left: 10px; }

.contact-section {
  padding-top: 100px;
  padding-bottom: 100px; }
  .contact-section h2 {
    color: white; }
  .contact-section p {
    color: white; }
  .contact-section li, .contact-section label {
    color: white; }
  .contact-section .container {
    background: #151515;
    -webkit-box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.75); }
  .contact-section button {
    background: #343a40;
    color: #dcdcdc; }
  @media (max-width: 767.98px) {
    .contact-section .contact-forms-wrapper {
      padding-right: 45px;
      text-align: center; }
      .contact-section .contact-forms-wrapper form {
        text-align: center; }
      .contact-section .contact-forms-wrapper .btn {
        margin-top: 20px;
        margin-bottom: 20px; } }
  .contact-section .management-wrapper {
    color: white;
    padding-top: 40px; }
    .contact-section .management-wrapper hr {
      width: 100%;
      background-color: white;
      margin-top: 0.5em;
      margin-left: auto;
      margin-right: auto;
      border-style: solid;
      border-width: .1px; }
    .contact-section .management-wrapper .management-title {
      font-weight: bold;
      font-size: 12px; }
    .contact-section .management-wrapper .manager-wrapper {
      display: inline-flex;
      justify-content: center; }
      .contact-section .management-wrapper .manager-wrapper .manager-name {
        padding-top: 20px;
        font-weight: bold;
        font-size: 16px; }
      .contact-section .management-wrapper .manager-wrapper .manager-data-list {
        padding-top: 6px; }
        .contact-section .management-wrapper .manager-wrapper .manager-data-list li {
          font-size: 14px;
          line-height: 8px; }
