// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

.ptb-100{
  padding-top: 100px;
  padding-right: 0px;
  padding-bottom: 100px;
  padding-left: 0px;
    @include media-breakpoint-down(sm) {
      padding-top: 40px;
      padding-right: 0px;
      padding-bottom: 70px;
      padding-left: 0px;
  }

}

.ekko-lightbox-nav-overlay {
  a {
    span {
     /// position: relative;
     // font-size: 32px;
     // bottom: 500px;
    }
  }
}


body {
  font-family: 'Open Sans', sans-serif;
 
}

a:focus, a:hover, a:visited {
  text-decoration: none!important;
  outline: 0!important;
  color: white;
}

//icons hover
.fa-youtube {
  transition: all 0.5s;
  color: white;
  &:hover {
    color: #c21616;
  }
}

.fa-amazon {
  transition: all 0.5s;
  color: white;
  &:hover {
    color: #ff9900;
  }
}

.fa-spotify {
  transition: all 0.5s;
  color: white;
  &:hover {
    color: green;
  }
}

.hero {
  min-height : 800px;
  color: white;
  margin-top: -10px;
  .jumbotron{
    background-image: url("../images/home_img_1.JPG");
    background-size: cover;
    width: 100%;
    min-height : 1000px;
    @include media-breakpoint-down(sm){
      min-height : 900px;
      background-position: 70% 50%; 
     }
     @include media-breakpoint-down(md){
      min-height : 900px;
      background-position: 80% 50%; 
     }
  }
  .opinions-wrapper {
    padding-top:80px;
    p{
      font-size: 18px;
      line-height: 1.6rem;
    }
  }

}

$bq_padding_l : 50px;
$bq_padding_l_next: 50px;

#bq_1{ padding-left: $bq_padding_l; }
#bq_2{ padding-left: $bq_padding_l + $bq_padding_l_next; }
#bq_3{ padding-left: $bq_padding_l + $bq_padding_l_next*1.8; }
#bq_4{ padding-left: $bq_padding_l + $bq_padding_l_next*3; }
#bq_5{ padding-left: $bq_padding_l + $bq_padding_l_next*4.5; }
@include media-breakpoint-down(sm) {
  #bq_1, #bq_2, #bq_3, #bq_4,#bq_5 {
    text-align: center;
    padding-left: 0;
    margin-top: 0;
  }
}

.section-title {
  font-size: 48px;

 /* hr { 
    width: 100%;
    background-color: lighten($color: #948a99, $amount: 80);
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style:solid;
    border-width: .1px;
  } */
}
//////////////////NAVBAR\\\\\\\\\\\\\\\\\\\\


.navbar-default {
  background: rgba(52, 58, 64, 0.5);
  font-size: 22px; //20px
  line-height: 1.2;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;

  -webkit-box-shadow: 2px 9px 10px -3px rgba(0,0,0,0.4);
  -moz-box-shadow: 2px 9px 10px -3px rgba(0,0,0,0.4);
  box-shadow: 2px 9px 10px -3px rgba(0,0,0,0.4);
  
  .navbar-brand {
    @include media-breakpoint-down(md){
      display: none;
    }
   
  }

  
  .navbar-nav {
    @include media-breakpoint-down(sm){
      margin-bottom: -10px;
    }
  }
  
  .yt-nav {
    display: inline-flex;
    margin-right: auto;
    justify-content: flex-start;
    margin-left: -100px;

    @include media-breakpoint-down(sm){
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
     
    }
  }
 
  .dropdown {
    padding-bottom: 20px;
    &:hover {
      .dropdown-menu {
        background-color: #151515;
        display: block;
        .dropdown-item {
          color: darken($color: white, $amount: 20);
          background-color: #151515;
          &:hover {
            color: white;
          }
        }
      }
    } 
  }



@include media-breakpoint-down(md)  {
  margin-left: auto;
  margin-right: auto;
  background: #151515;;
  .dropdown-menu {
    display: block;
    text-align: center;
    background: transparent !important;
    padding-top: 12px;
    margin-top: -10px;
    border: none;
    .dropdown-item {
      line-height: 10px;
      font-weight: lighter;
      font-style: italic;
      border: none;
      
      background: transparent !important;
      color: rgba(255,255,255,.5);
      &:hover {
        border: none;
        color: rgba(255,255,255,.75);
        
        background: transparent;
      }
    }
    
  }
}
  .navbar_left, .navbar_right{
    display: inline-flex;
    flex-direction: row;

    .nav-item{
      padding: 10px;
      @include media-breakpoint-down(sm) {
        padding-top: 9px;
        padding-bottom: 9px;
      }
    }

    @include media-breakpoint-down(sm) {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: -40px;
      .nav-item{
       // padding: 0px;
      }
    }
  }

  

}
.dropdown-toggle {

  &:after{
    display:none;
  }
  
}

/////////////////ABOUT ME \\\\\\\\\\\\\\\\\\\\\

.about-me-section {
  .carousel {
  
    .carousel-control-next {
      bottom: 100%;
      margin-top: -110px;
      right: -5%;
      @include media-breakpoint-up(lg) {
        right: -15%;
        bottom: 40%;
        
       }
      .carousel-control-next-icon {
           background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23131313' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");

           @include media-breakpoint-up(lg) {

            width: 50px;
            height: 50px;
           }
          
        }
    }
   
    .carousel-control-prev {
      bottom: 100%;
      margin-top: -110px;
      left: -5%;
      @include media-breakpoint-up(lg) {
        left: -15%;
        bottom: 40%;
       }
      .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23131313' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
        
        @include media-breakpoint-up(lg) {
          width: 50px;
          height: 50px;
         }
      }
    }
    
    width: 100%; 
    height: 600px;
    @include media-breakpoint-up(lg) {
      height: 800px;
    }
   .carousel-item {
    @include media-breakpoint-down(sm) {
      overflow: auto;
      height:500px;
    }

    p {
      display: block;
     // word-wrap: break-word;
      text-align: center;
      font-size: 16px;
    }
   }
      }
      
  }
  

  .biography-section {

    p {
      display: block;
      font-family: Helvetica, Arial, sans-serif;
      @include media-breakpoint-down(sm) {
        
        }

      
    }
    @include media-breakpoint-down(sm) {
     
      }
  }


#about_me_2 {
  font-size: 20px;
}

#about_me_3 {
  font-size: 17px;
}




//////////////////

//next sectio ntest
.next-section {
  background-image: url("https://wallpaperplay.com/walls/full/2/f/e/200789.jpg");
  width: 100%;
  min-height : 600px;
  opacity: 0.95;
 
  background-attachment: fixed;
  background-position: 50% -51.7904px;

  @include media-breakpoint-down(sm) {
    width: 100%;
    min-height : 300px;
    opacity: 0.95;
  
    background-attachment: fixed;
    background-position: 50% -51.7904px;
   }
}

.recordings-section {
  padding-top: 100px;
  padding-bottom: 160px;
  background: #151515;
    h2 {
      color: #dcdcdc;
      padding-bottom: 100px;
    }
    
    .recordings-wrapper {
      display: flex;
      justify-content: center;
      .album-wrapper {
        width: 350px;
        height: 350px;
        -webkit-box-shadow: -2px 7px 12px 8px rgba(0,0,0,0.75);
        -moz-box-shadow: -2px 7px 12px 8px rgba(0,0,0,0.75);
        box-shadow: -2px 7px 12px 8px rgba(0,0,0,0.75);
        @include media-breakpoint-down(sm) {
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 20px;
        }
    
        img {
          border: 5px solid white;
          width: 350px;
          height: 350px;
        }

        transition: all 0.5s;
        &:hover { 
          padding-bottom: 15px;
       }
    
        .album-hover-wrapper {
          position:absolute;
          display: block;
          opacity: 0;
          width: 350px;
          height: 350px;
          bottom: 0%;
          background: #151515;
          color: white;
    
          transition: all 0.5s ease;
           &:hover { 
             opacity: 0.9;
          }
    
          a {
            cursor: pointer;
          }
    
          .label-wrapper {
            position: absolute;
            display: block;
            background: white;
            color: black;
            width: 350px;
            height: 40px;
            font-size: 16px;
            h5 {
              padding: 8px;
              font-weight: bold;
            }
          }
    
          .btn-wrapper-top {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-top: 70px;
            cursor: pointer;

            .fa-apple {
              transition: all 0.5s;
              color: white;
              padding-top: 1px;
              &:hover {
                color: #a3aaae;
              }
            }

            i {
              padding: 10px;
            }
         
            .shop-label {
              font-size: 20px;
              color: aliceblue;
              font-weight: bold;
              transition: all 0.5s;
              &:hover { 
               color: darken($color: aliceblue, $amount: 20);
             }
            }
          }
    
          .btn-wrapper-bottom {
            padding-top: 100px;
          }
    
          
        }
    
    }
    }
  }

 



.parallax {
  position: relative;
  background-repeat: no-repeat;
  background-position: 10% 50%;
  background-size: cover;
  z-index: 59;
  opacity: 0;
}

// GALERYY

.gallery-section {
  button {
    background: #343a40;
    color: #dcdcdc;
  }
.gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
  .gallery-image-wrapper {
    position: relative;
    margin: 20px 20px;
    width: 250px;
    height: 180px;
    -webkit-box-shadow: 0 8px 12px -6px black;
	   -moz-box-shadow: 0 8px 12px -6px black;
          box-shadow: 0 8px 12px -6px black;
          transition: all 0.5s;
    &:hover { 
      padding-top:10px;
        
    }
    img {
     width: 250px;
     height: 180px;
    }

    .label-image-hover {
      position:absolute;
      cursor: pointer;
      width: 250px;
      height: 180px;
      opacity: 0;
      background: black;
      color: white;
      transition: all 0.5s ease;
      &:hover { 
        opacity: 0.7;
    
      }

      i {
        padding: 50px;
      }
    
      a {
       cursor: pointer;
      }
    }

    @include media-breakpoint-down(md) {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }
  }

  
}
  
 
}

.media-section {
  background: url('../images/gallery/gallery_5.JPG');
 
  .text-title-wrapper {
    padding-bottom: 20px;
    h2 {
      font-size: 58px;
      color: #dcdcdc;
    }
    h5 {
      padding-top: 20px;
      font-size: 32px;
      color: #151515;
      transition: .2s ease-in-out;
      height: 35px;
      
      &:hover {
        color: lighten($color: #151515, $amount: 30);
      }
      @include media-breakpoint-down(sm){
        color: white;
        &:hover {
          color: white;
        }
        font-size: 24px;
        padding-top: 0px;
        padding-bottom: 30px;
       }
       @include media-breakpoint-down(md){
        color: lighten($color: #151515, $amount: 50);
        &:hover {
          color: white;
        }
       
       }
    }
  }
  
}

.news-section {
  p{
    color: darken($color: #dcdcdc, $amount: 30);
  }

  button {
    background: #343a40;
    color: #dcdcdc;
  }


}

.downloads-section {
  background: #151515;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  h2{
    color: white;
    @include media-breakpoint-down(md){
      padding-left: 22px;
    }

  }
  p {
    color: white;
  }

  .category-wrapper {
    display: inline-flex;

    h4 {
      text-align: center;
    }
    .category-btn {
      margin-left: 25px;
      width: 200px;
      height: auto;

      i {
        padding-left: 4px;
      }
    }
   
    @include media-breakpoint-down(md){
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      
      .category-btn {
        margin-bottom: 6px;
      }
      h4 {
        padding-left: 20px;
      }
    }

  }
 
  .file-wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 500px;
    height: 100px;
    background: #dcdcdc;
    
    @include media-breakpoint-down(md){
     // display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: left;
      width: 350px;
      padding-top: 15px;
      
      .file-info {
       
        .file-name {

          text-align: left;
        }

        .file-desc {
          padding-bottom: 8px;
          font-size: 12px;
   
          
          .file-size {
            display: inline-block;
            padding-right: 5px;
          }
          .file-date {
            display: inline-block;
          }
        }
       
      }
      .file-icon {
        margin-left: -25px;
        padding-bottom: 20px;
        padding-top: 0;
      }

    
    }

    .file-icon {
      padding-top: 10px;
      padding-right: 100px;
      @include media-breakpoint-down(md){
        padding-right: -20px;
        margin-top: -12px;
      }
    }

    .file-info {
      padding-top: 5px;
      margin-left: -90px;
      @include media-breakpoint-down(md){
        margin-left: -140px;
      }

      .file-name {
        color: #151515;
        font-size: 18px;
        white-space: nowrap;
        font-weight: bold;
        padding-left: 100px;
        @include media-breakpoint-down(md){
          padding-left: 40px;
          padding-bottom: 16px;
          margin-top: -16px;
        }
      }
  
      .file-desc {
        padding-bottom: 8px;
        font-size: 12px;
        padding-left: 90px;

        @include media-breakpoint-down(md){
          padding-bottom: 20px;
          margin-top: -18px;
          margin-left: -50px;
        }
        
        .file-size {
          display: inline-block;
          padding-right: 5px;
        }
        .file-date {
          display: inline-block;
        }
      }

      .download-button {
        padding-top: 35px;
        @include media-breakpoint-down(md){
          margin-left: -60px;
          margin-top: -18px;
        }
      }
    }

    .download-btn {
      width: 150px;
      height: 40px;
      margin-left: 100px;
      margin-top: -60px;

      i {
        padding-left: 10px;
      }
    }
  }

}

.contact-section {
  padding-top: 100px;
  padding-bottom: 100px;
  h2{
   color: white;
  }
  p {
    color: white;
  }
  li, label{
    color: white;
   // padding-right: 20px;
  }
  .container {
    background: #151515;
    -webkit-box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.75);
  }

  button {
    background: #343a40;
    color: #dcdcdc;
  }

  .contact-forms-wrapper {
    @include media-breakpoint-down(sm){
      padding-right: 45px;
     text-align: center;
     form{
      text-align: center;
     }

     .btn {
       margin-top: 20px;
       margin-bottom: 20px;
     }
    }

  }

  .management-wrapper {
    color: white;
    hr { 
      width: 100%;
      background-color: lighten($color: #948a99, $amount: 80);
      margin-top: 0.5em;
      margin-left: auto;
      margin-right: auto;
      border-style:solid;
      border-width: .1px;
    } 
    padding-top: 40px;
    .management-title {
      font-weight: bold;
      font-size: 12px;
    }

    .manager-wrapper {
      display: inline-flex;
      justify-content: center;
      //flex-direction: row;
      .manager-name {
        padding-top: 20px;
        font-weight: bold;
        font-size: 16px;
      }
      .manager-data-list {
        padding-top: 6px;
        
       // ul {
          li {
            
            font-size: 14px;
            line-height: 8px;
          }
        //}
      }
    }
  }
}