// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

.ptb-100{
  padding-top: 100px;
  padding-right: 0px;
  padding-bottom: 100px;
  padding-left: 0px;
    @include media-breakpoint-down(sm) {
      padding-top: 40px;
      padding-right: 0px;
      padding-bottom: 70px;
      padding-left: 0px;
  }

}

.ekko-lightbox-nav-overlay {
  a {
    span {
     /// position: relative;
     // font-size: 32px;
     // bottom: 500px;
    }
  }
}

body {
  font-family: 'Open Sans', sans-serif;
 
}

a:focus, a:hover, a:visited {
  text-decoration: none!important;
  outline: 0!important;
  color: white;
}

//icons hover
.fa-youtube {
  transition: all 0.5s;
  &:hover {
    color: #c21616;
  }
}

.fa-amazon {
  transition: all 0.5s;
  color: white;
  &:hover {
    color: #ff9900;
  }
}

.fa-spotify {
  transition: all 0.5s;
  color: white;
  &:hover {
    color: green;
  }
}

.hero {
  min-height : 1000px;
  color: white;
  margin-top: -10px;
  .jumbotron{
   // position: absolute;
    background-image: url("../images/home_img_1.JPG");
    background-size: cover;
    width: 100%;
    min-height : 1000px;
    @include media-breakpoint-down(sm){
      min-height : 900px;
      background-position: 70% 50%; 
     }
   // .jumbotron-bg{
     
    //}
  }
  .opinions-wrapper {
   // position: absolute;
    padding-top:80px;
    p{
      font-size: 18px;
      line-height: 1.6rem;
    }
  }

}

$bq_padding_l : 50px;
$bq_padding_l_next: 50px;

#bq_1{ padding-left: $bq_padding_l; }
#bq_2{ padding-left: $bq_padding_l + $bq_padding_l_next; }
#bq_3{ padding-left: $bq_padding_l + $bq_padding_l_next*1.8; }
#bq_4{ padding-left: $bq_padding_l + $bq_padding_l_next*3; }
#bq_5{ padding-left: $bq_padding_l + $bq_padding_l_next*4.5; }
@include media-breakpoint-down(sm) {
  #bq_1, #bq_2, #bq_3, #bq_4,#bq_5 {
    text-align: center;
    padding-left: 0;
    margin-top: 0;
  }
}

.section-title {
  font-size: 48px;

 /* hr { 
    width: 100%;
    background-color: lighten($color: #948a99, $amount: 80);
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style:solid;
    border-width: .1px;
  } */
}
//////////////////NAVBAR\\\\\\\\\\\\\\\\\\\\


.navbar-default {
  width: inherit;
  background-color: #343a40;
  background: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  line-height: 1.2;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;

  -webkit-box-shadow: 2px 9px 10px -3px rgba(0,0,0,0.4);
  -moz-box-shadow: 2px 9px 10px -3px rgba(0,0,0,0.4);
  box-shadow: 2px 9px 10px -3px rgba(0,0,0,0.4);

 
  .dropdown {

    &:hover {
      .dropdown-menu {
        background-color: #151515;
        display: block;
        .dropdown-item {
          color: darken($color: white, $amount: 20);
          background-color: #151515;
          &:hover {
            color: white;
          }
        }
      }
    } 
  }



@include media-breakpoint-down(sm) {
  margin-left: auto;
  margin-right: auto;
  .dropdown-menu {
    display: block;
    text-align: center;
    background: transparent !important;
    padding-top: -10px;
    margin-top: -10px;
    .dropdown-item {
      line-height: 10px;
      font-weight: lighter;
      font-style: italic;
      
      background: transparent !important;
      color: rgba(255,255,255,.5);
      &:hover {
        color: rgba(255,255,255,.75);
        
        background: transparent;
      }
    }
    
  }
}

  h1{
    //color: gold;
    @include media-breakpoint-down(sm){
      display: none;
    }
  }

 

  .navbar_left, .navbar_right{
    display: inline-flex;
    flex-direction: row;

    @include media-breakpoint-down(sm) {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      margin-left: auto;
  margin-right: auto;
    }
  }

  .nav-item{
    padding: 10px;
    
  }

}
.dropdown-toggle {

  &:after{
    display:none;
  }
  
}

.dropdown {
  /* 
  &:hover {
    .dropdown-menu {
      background-color: #151515;
      display: block;
      .dropdown-item {
        color: darken($color: white, $amount: 20);
        background-color: #151515;
        &:hover {
          color: white;
        }
      }
    }
  } 
  */
}

/////////////////ABOUT ME \\\\\\\\\\\\\\\\\\\\\
.about-me-section {
  .carousel {
    width: 1000px; 
    height: 900px;
    margin: 0 auto;
    @include media-breakpoint-down(sm) {
      width: 100%; 
    }
  }

  .biography-section {
    margin: 0.85em 0;
    p {
      display: block;
      font-family: Helvetica, Arial, sans-serif;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      
    }
  }

} 
.carousel .carousel-control { visibility: hidden; }
.fixed-top {
 // width: 75%;
 // margin-left: auto;
 // margin-right: auto;
}

//CAROUSEL SETTINGS ABOUT ME
$carousel_control_space: -140px;
.carousel-control-prev-icon {
  background-image: url("https://icons-for-free.com/iconfiles/png/512/keyboard+arrow+left+48px-131985225817132836.png");
  width: 100%;
  height: 120px;
  @include media-breakpoint-down(sm) {
   display: none;
   position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100%;
  }
}

.carousel-control-next-icon {
  background-image: url("https://icons-for-free.com/iconfiles/png/512/keyboard+arrow+right+48px-131985225841288821.png");
  width: 100%;
  height: 140px;
  @include media-breakpoint-down(sm) {
    display: none;
   }
}
.carousel-control-prev {
  margin-left: $carousel_control_space;
}

.carousel-control-next {
  margin-right: $carousel_control_space;
}


#about_me_2 {
  font-size: 20px;
}

#about_me_3 {
  font-size: 17px;
}




//////////////////

//next sectio ntest
.next-section {
  background-image: url("https://wallpaperplay.com/walls/full/2/f/e/200789.jpg");
 // background-size: cover;
  width: 100%;
  min-height : 600px;
  opacity: 0.95;
 // background-image: url('../images/blurred.jpg');
  background-attachment: fixed;
  background-position: 50% -51.7904px;

  @include media-breakpoint-down(sm) {
    width: 100%;
    min-height : 300px;
    opacity: 0.95;
   // background-image: url('../images/blurred.jpg');
    background-attachment: fixed;
    background-position: 50% -51.7904px;
   }
}

// background: #ddd;
//     background: linear-gradient(#ddd, #e8e8e8);
//     font-family: 'Open Sans', sans-serif;
//     height: 100vh;
//     margin:0;

.recordings-section {
  padding-top: 100px;
  padding-bottom: 160px;
  background: #151515;
    h2 {
      color: #dcdcdc;
      padding-bottom: 100px;
      //font-family: 'Open Sans', sans-serif;
    }
    
    .recordings-wrapper {
      display: flex;
      justify-content: center;
     // margin-left: -40px;
      .album-wrapper {
       // margin-left: 80px;
        width: 350px;
        height: 350px;
        -webkit-box-shadow: -2px 7px 12px 8px rgba(0,0,0,0.75);
        -moz-box-shadow: -2px 7px 12px 8px rgba(0,0,0,0.75);
        box-shadow: -2px 7px 12px 8px rgba(0,0,0,0.75);
        @include media-breakpoint-down(sm) {
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 20px;
        }
    
        img {
          border: 5px solid white;
          width: 350px;
          height: 350px;
        }

        transition: all 0.5s;
        &:hover { 
          padding-bottom: 15px;
       }
    
        .album-hover-wrapper {
          position:absolute;
          display: block;
          opacity: 0;
          width: 350px;
          height: 350px;
          bottom: 0%;
          background: #151515;
          color: white;
    
          transition: all 0.5s ease;
           &:hover { 
             opacity: 0.9;
          }
    
          a {
            cursor: pointer;
          }
    
          .label-wrapper {
            position: absolute;
            display: block;
            background: white;
            color: black;
            width: 350px;
            height: 40px;
            font-size: 16px;
            h5 {
              padding: 8px;
              font-weight: bold;
            }
          }
    
          .btn-wrapper-top {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-top: 70px;
            cursor: pointer;

            .fa-apple {
              transition: all 0.5s;
              color: white;
              padding-top: 1px;
              &:hover {
                color: #a3aaae;
              }
            }

            i {
              padding: 10px;
            }
         
            .shop-label {
              font-size: 20px;
              color: aliceblue;
              font-weight: bold;
              transition: all 0.5s;
              &:hover { 
               color: darken($color: aliceblue, $amount: 20);
             }
            }
          }
    
          .btn-wrapper-bottom {
            padding-top: 100px;
          }
    
          
        }
    
    }
    }
  }

 



.parallax {
  position: relative;
  background-repeat: no-repeat;
  background-position: 10% 50%;
  background-size: cover;
  z-index: 59;
  opacity: 0;
}

// GALERYY

.gallery-section {
  button {
    background: #343a40;
    color: #dcdcdc;
  }
.gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
  .gallery-image-wrapper {
    position: relative;
    margin: 20px 20px;
    width: 250px;
    height: 180px;
    -webkit-box-shadow: 0 8px 12px -6px black;
	   -moz-box-shadow: 0 8px 12px -6px black;
          box-shadow: 0 8px 12px -6px black;
          transition: all 0.5s;
    &:hover { 
      padding-top:10px;
        
    }
    img {
     // margin: 0;
     // data-max-width="280" data-max-height="200"
     width: 250px;
     height: 180px;

    }

    .label-image-hover {
      position:absolute;
      //display: block;
      cursor: pointer;
      width: 250px;
      height: 180px;
      opacity: 0;
      background: black;
      color: white;
      transition: all 0.5s ease;
      &:hover { 
        opacity: 0.7;
    
      }

      i {
        padding: 50px;
      }
    
      a {
       cursor: pointer;
      }
    }

    @include media-breakpoint-down(sm) {
     // display: flex;
     // justify-content: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }
  }

  
}
  
 
}

.media-section {
 // padding-top: 100px;
 // padding-bottom: 100px;
  background: url('../images/gallery/gallery_5.JPG');
 
  .text-title-wrapper {
    padding-bottom: 20px;
    h2 {
      font-size: 58px;
      color: #dcdcdc;
    }
    h5 {
      padding-top: 20px;
      font-size: 32px;
      color: #151515;
      transition: .2s ease-in-out;
      height: 35px;
      
      &:hover {
        color: lighten($color: #151515, $amount: 30);
      }
      @include media-breakpoint-down(sm){
        &:hover {
          color: white;
        }
        font-size: 24px;
        padding-top: 0px;
        padding-bottom: 30px;
       }
    }
  }
  
}

.news-section {
  p{
    color: darken($color: #dcdcdc, $amount: 30);
  }

  button {
    background: #343a40;
    color: #dcdcdc;
  }


}

.downloads-section {
  background: #151515;
  padding-top: 100px;
  padding-bottom: 100px;
  h2{
    color: white;
  }
  p {
    color: white;
  }

  .category-wrapper {
    display: inline-flex;

    h4 {
      text-align: center;
    }
    .category-btn {
      margin-left: 25px;
      width: 200px;
      height: auto;

      i {
        padding-left: 4px;
      }
    }

    @include media-breakpoint-down(sm){
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      
      .category-btn {
        margin-bottom: 6px;
      }
    }

  }

  .file-wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 500px;
    height: 100px;
    background: #dcdcdc;
   // border-radius: 15px;

    .file-icon {
      padding-top: 10px;
    }

    .file-info {
      padding-top: 5px;
      margin-left: -90px;

      .file-name {
        color: #151515;
        font-size: 18px;
        white-space: nowrap;
        font-weight: bold;
      }
  
      .file-desc {
        font-size: 12px;
      }
    }

   

    .download-btn {
     // display: inline-block;
      width: 150px;
      height: 40px;
      margin-left: 100px;
      margin-top: -60px;
     // margin-right: 60px;

      i {
        padding-left: 10px;
      }
    }
  }

}

.contact-section {
  padding-top: 100px;
  padding-bottom: 100px;
  h2{
   // color: #151515;;
   color: white;
  }
  p {
    color: white;
  }
  li, label{
    color: white;
  }
  .container {
    background: #151515;
    -webkit-box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.75);
  }

  button {
    background: #343a40;
    color: #dcdcdc;
  }

  .contact-forms-wrapper {
    @include media-breakpoint-down(sm){
      padding-right: 45px;
     // display: flex;
     // justify-content: center;
     // flex-direction: column;
     text-align: center;
     form{
      text-align: center;
     }

     .btn {
       margin-top: 20px;
       margin-bottom: 20px;
     }
    }

  }

  .management-wrapper {
    color: white;
    hr { 
      width: 100%;
      background-color: lighten($color: #948a99, $amount: 80);
      margin-top: 0.5em;
      margin-left: auto;
      margin-right: auto;
      border-style:solid;
      border-width: .1px;
    } 
    padding-top: 40px;
    .management-title {
      font-weight: bold;
      font-size: 12px;
    }

    .manager-wrapper {
      display: inline-flex;
      justify-content: center;
      //flex-direction: row;
      .manager-name {
        padding-top: 20px;
        font-weight: bold;
        font-size: 16px;
      }
      .manager-data-list {
        padding-top: 6px;
        
       // ul {
          li {
            
            font-size: 14px;
            line-height: 8px;
          }
        //}
      }
    }
  }
}